.frictionless-section-main {
    padding: 88px 0 280px;
    position: relative;
    background-color: rgb(121 121 121);

    .frictionless-section-background-image {
        position: absolute;
        top: 88px;
        right: 0;
        display: flex;
        justify-content: end;
        align-items: end;

        img {
            width: 60%;
            height: 95%;
        }
    }

    .frictionlesssection-content-main {
        position: relative;
        z-index: 1;

        .frictionlesssection-title-div {
            color: #e3afbe;

            span {
                font-size: 13px;
                line-height: 23px;
                font-weight: 500;
                margin: 0 0 4px 0;
                text-transform: uppercase;
            }

            h2 {
                font-size: 80px;
                font-weight: 700;
                line-height: .8;
                text-transform: uppercase;
                font-family: 'PP Neue Montreal', sans-serif;
                padding: 24px 0 40px;
                max-width: 911px;
            }

            p {
                font-size: 32px;
                font-weight: 500;
                line-height: 1;
                font-family: 'PP Neue Montreal', sans-serif;
                max-width: 911px;
            }

            .card-image-div {
                display: flex;
                justify-content: space-between;
                align-items: start;

                .frictionless-video-div {
                    margin: 40px 0 0 0;

                    video {
                        max-width: 400px;
                        border-radius: 45px;
                    }
                }
            }
        }
    }
}