.custom-cursor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: .2;
}

.custom-cursor-bg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: .15s;
}




// .custom-cursor {
//     background-color: #c9f31d !important;
//     border-radius: 50%;
//     height: 8px;
//     left: 0;
//     mix-blend-mode: difference;
//     pointer-events: none;
//     position: fixed;
//     top: 0;
//     transform: translate(-50%, -50%);
//     transition: .2s;
//     width: 8px;
//     z-index: 9999999;
// }

// .custom-cursor-bg {
//     border: 1px solid #c9f31d;
//     background-color: transparent !important;
//     border-radius: 50%;
//     height: 40px;
//     left: 0;
//     mix-blend-mode: difference;
//     pointer-events: none;
//     position: fixed;
//     top: 0;
//     transform: translate(-50%, -50%);
//     transition: .15s;
//     width: 40px;
//     z-index: 9999999;
// }